{% extends 'base.html' %}

{% block title %} New Password {% endblock %}

{% block content %}


<div class="containerNewpassword">
  
  <form action="{{url_for('newpassword')}}" method="post">
    {% include 'components/notification.html' %}
      <label for="">New Password</label>
      <input type="text" name="password1" id='password1'>
      <label for="">Confirm Password</label>
      <input type="text" name="password2" id="password2">
      <input type="submit" id="submit">
  </form>
  
</div>


{% endblock %}